/* NAVBAR */
nav {
    background-color: black;
    border-radius: 1rem;
    padding: 0.6rem 1rem;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
nav ul li {
    margin-right: 1.5rem;
}
nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
}
nav ul li a:hover {
    color: lightgray;
}

/* HEADER IMAGE */
.header {
    margin-top: 1rem;
}
.head-pic {
    border-radius: 1rem;
    margin-top: 1px;
    width: 100%;
    height: 700px;
    background-image: url("chicago.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* HEADING */
.heading h1 {
    text-align: center;
    font-size: 2.3rem;
    margin-top: 1rem;
}

/* ABOUT PARAGRAPH */
.aboutpara {
    max-width: 900px;
    margin: 2rem auto;
    font-weight: bold;
    font-size: 1.1rem;
    line-height: 1.7rem;
    padding: 0 1rem;
}

/* FOOTER */
.footer {
    background-color: black;
    padding: 1rem 0;
    margin: 2rem auto 0;
    max-width: 900px;
    border-radius: 0.5rem;
}
.footer-container p {
    color: white;
    text-align: center;
    font-size: larger;
}

/* ---------------------------
   RESPONSIVE QUERIES
---------------------------- */

/* Tablets */
@media (max-width: 992px) {
    .head-pic {
        height: 400px;
    }
}

/* Mobile */
@media (max-width: 600px) {
    nav ul {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul li {
        margin: 0.4rem 0;
    }

    .heading h1 {
        font-size: 1.8rem;
    }

    .aboutpara {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .head-pic {
        height: 280px;
    }

    .footer {
        max-width: 95%;
    }
}
