/* NAVBAR */
nav {
    background-color: black;
    border-radius: 1rem;
    padding: 0.6rem 1rem;
}
nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
nav ul li {
    display: inline-block;
    margin-right: 1rem;
}
nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
    transition: 0.3s;
}
nav ul li a:hover {
    color: lightgray;
}

/* HEADER */
.header {
    margin-top: 1rem;
}

.main-details{
    margin-top: 1px;
}

/* TOURS SECTION */
.tours {
    margin-top: 1px;
    background-color: black;
    padding: 2rem 0;
}

/* TITLE + SUBTITLE */
.black-detail h1, 
.black-detail p {
    text-align: center;
    color: aliceblue;
    margin: 1rem 0;
}

.black-detail h1 {
    font-size: 2.5rem;
}
.black-detail p {
    font-size: 1.3rem;
    font-style: oblique;
}

/* SEARCH INPUT */
.input {
    text-align: center;
    margin: 1.5rem 0;
}
.input input {
    width: 70%;
    max-width: 500px;
    height: 2rem;
    padding: 0.5rem;
    border-radius: 5px;
    background-color: white;
}

/* LABEL TAGS */
.sold,
.avail {
    display: inline-block;
    padding: 0.3rem 0.8rem;
    border-radius: 5px;
    margin: 0.3rem;
    font-size: 0.9rem;
}

.sold {
    background-color: red;
    color: white;
}

.avail {
    background-color: white;
    color: black;
    border: 1px solid black;
}
.avail:hover {
    background-color: palegreen;
    color: black;
}

/* TICKET CARDS */
.tour-ticket-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
}

.tour-ticket {
    width: 260px;
    background-color: white;
    border-bottom: 1px solid black;
    padding: 1rem;
    text-align: center;
}

.tour-ticket p {
    color: black;
    margin: 0.5rem 0;
}

/* BUTTONS */
.tour-ticket button {
    padding: 0.6rem;
    margin-top: 1rem;
    width: 100%;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid black;
}

.tour-ticket button:hover {
    background-color: black;
    color: white;
}

/* ------------------------
      RESPONSIVE QUERIES
-------------------------*/

/* Tablets */
@media (max-width: 992px) {
    .black-detail h1 {
        font-size: 2rem;
    }
}

/* Mobile */
@media (max-width: 600px) {
    nav ul {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul li {
        margin: 0.5rem 0;
    }

    .black-detail h1 {
        font-size: 1.7rem;
    }
    .black-detail p {
        font-size: 1rem;
    }

    .input input {
        width: 90%;
    }

    .tour-ticket {
        width: 90%;
    }
}
