/* NAVBAR */
nav {
    background-color: black;
    border-radius: 1rem;
    padding: 0.6rem 1rem;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
nav ul li {
    margin-right: 1.5rem;
}
nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
}
nav ul li a:hover {
    color: lightgray;
}

/* HEADER */
.header {
    margin-top: 1rem;
}

/* CONTACT FORM SECTION */
.con-input {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 2rem;
}

.con-input input {
    width: 100%;
    padding: 0.7rem;
    margin-bottom: 0.8rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* SEND BUTTON */
.send {
    color: white;
    background-color: black;
    padding: 0.7rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.send:hover {
    background-color: grey;
    color: white;
}

/* -------------------------
      RESPONSIVE QUERIES
--------------------------*/

/* Mobile */
@media (max-width: 600px) {

    nav ul {
        flex-direction: column;
        align-items: flex-start;
    }

    .con-input {
        width: 90%;
        margin-top: 1rem;
    }

    .send {
        width: 100%;
        padding: 0.9rem;
    }
}
