/* GLOBAL */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* NAVBAR */
nav {
    background-color: black;
    border-radius: 1rem;
    height: auto;
    padding: 0.5rem 1rem;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

nav ul li {
    margin-right: 1rem;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    transition: 0.3s;
}

nav ul li a:hover {
    /* color: red; */
}

/* HEADER IMAGE */
.header {
    margin-top: 1rem;
}

.head-pic {
    margin-top: 1px;
    border-radius: 1rem;
    background-image: url("chicago.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 650px;
}

/* BAND SECTION */
.band {
    text-align: center;
    margin-top: 1.5rem;
}

.band p {
    color: rgb(127, 125, 125);
    font-family: fantasy;
    font-size: 1.1rem;
}

/* DETAILS SECTION */
.detail {
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
    padding: 0 1rem;
    line-height: 1.6rem;
}

/* CITIES SECTION */
.main-cities {
    margin-top: 2rem;
    text-align: center;
}

.cities {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cities img {
    margin: 1rem;
    border-radius: 10px;
    max-width: 250px;
    width: 100%;
    height: auto;
    transition: transform 0.3s;
}

.cities img:hover {
    transform: scale(1.05);
}


/* -------------------------
   MEDIA QUERIES (Responsive)
---------------------------*/

/* Tablets */
@media (max-width: 992px) {
    .head-pic {
        height: 400px;
    }
}

/* Mobile devices */
@media (max-width: 600px) {
    nav ul {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul li {
        margin: 0.3rem 0;
    }

    .head-pic {
        height: 300px;
    }

    .band p {
        font-size: 1rem;
    }

    .cities img {
        max-width: 90%;
    }

    .detail {
        max-width: 100%;
        padding: 0 1rem;
    }
}
